<script>
    export default {
        // name: 'booking-manage',

        // data(){
        //     return {
        //         show_bookings: true
        //     }
        // },
        mounted() {
            // var show_bookings = false
        }
    }
</script>

<style>
    .slide-fade-enter-active {
      transition: all .3s ease;
    }
    .slide-fade-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
      transform: translateX(10px);
      opacity: 0;
    }
</style>
