img {
    max-width: 100%;
}

.hotel > .container-fluid > .wrapper.row {
    min-height: inherit!important;
}

aside.right-side{
    margin-left: 0;
    padding: 0;

}

aside.left-side.sidebar-offcanvas{
    position: inherit;
}

.blue{
    color: #4d88c4;
}

.title-search-detail{
    padding-right: 1em;
    font-size: 14px;
    font-weight: bold;
}

.content-header .title-search strong,.title-search-detail strong{
    text-transform: uppercase;
    color: #4d88c4;
}

.hotel,.filter {
    background: #FFF;
    padding: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.hotel-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #4d88c4;
}

.fa-star{
    color:#FFD700;
}

.address .view-map{
    margin-left: 3px;
    font-weight: bold;
}

.services{
    color: #4d88c4;
}

.services li{
    padding-left: 6px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.services li:first-child{
    padding-left: 5px;
}

.services li:last-child{
    border-right: 0;
}

.prices{
    padding: 0.5em;
    text-align: center;
    position: relative;
    margin-right: 1.1em;
    /*background: rgba(211, 211, 211, 0.3);*/
    background: rgba(77, 136, 196, 0.3)
}

.prices .actions{
    padding-right: 1em;
}

a{
    cursor: pointer;
}

.prices .box-price{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    min-height: 150px;
}

.prices .box-price .text-price{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 2em;
}

.prices .box-price .price{
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 22px;
    color: #4d88c4;
    margin-top: 1em;
}

.prices .btn-reserve{
    width: 93px;
    margin: 0 auto;
    position: absolute;
    bottom: 13px;
    right: 0;
    left: 0;
}

.view-all-rooms{
    padding: 0.3em 1em;
}

.view-all-rooms .panel-group{
    width: 100%;
}

.view-all-rooms .panel-group .panel-heading{
    background: #4d88c4;
    font-weight: bold;
}

.view-all-rooms .panel-group .panel-heading .panel-title{
    font-weight: bold;
}

.view-all-rooms .panel-group .panel-heading .panel-title .right-arrow{
    color: #FFF!important;
    cursor:pointer;
}

.view-all-rooms .panel-group .panel-heading .panel-title a{
    color: #FFF!important;
    width: 100%;
    display: block;
}

.view-all-rooms .panel-group .panel-body{
    padding: 0;
}

.filter hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter .filter-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}

.filter .map{
    text-align: center;
}

.filter .map figcaption{
    background: #555;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 40px;
}

.filter .map figcaption:hover{
    color: #4d88c4;
}

.vdp-datepicker {
    position: relative;
    text-align: left
}

.vdp-datepicker * {
    box-sizing: border-box
}

.vdp-datepicker__calendar {
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 300px;
    border: 1px solid #ccc
}

.vdp-datepicker__calendar header {
    display: block;
    line-height: 40px
}

.vdp-datepicker__calendar header span {
    display: inline-block;
    text-align: center;
    width: 71.42857142857143%;
    float: left
}

.vdp-datepicker__calendar header .next,
.vdp-datepicker__calendar header .prev {
    width: 14.285714285714286%;
    float: left;
    text-indent: -10000px;
    position: relative
}

.vdp-datepicker__calendar header .next:after,
.vdp-datepicker__calendar header .prev:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: 6px solid transparent
}

.vdp-datepicker__calendar header .prev:after {
    border-right: 10px solid #000;
    margin-left: -5px
}

.vdp-datepicker__calendar header .prev.disabled:after {
    border-right: 10px solid #ddd
}

.vdp-datepicker__calendar header .next:after {
    border-left: 10px solid #000;
    margin-left: 5px
}

.vdp-datepicker__calendar header .next.disabled:after {
    border-left: 10px solid #ddd
}

.vdp-datepicker__calendar header .next:not(.disabled),
.vdp-datepicker__calendar header .prev:not(.disabled),
.vdp-datepicker__calendar header .up:not(.disabled) {
    cursor: pointer
}

.vdp-datepicker__calendar header .next:not(.disabled):hover,
.vdp-datepicker__calendar header .prev:not(.disabled):hover,
.vdp-datepicker__calendar header .up:not(.disabled):hover {
    background: #eee
}

.vdp-datepicker__calendar .disabled {
    color: #ddd;
    cursor: default
}

.vdp-datepicker__calendar .cell {
    display: inline-block;
    padding: 0 5px;
    width: 14.285714285714286%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year {
    cursor: pointer
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #4bd
}

.vdp-datepicker__calendar .cell.selected,
.vdp-datepicker__calendar .cell.selected.highlighted,
.vdp-datepicker__calendar .cell.selected:hover {
    background: #4bd
}

.vdp-datepicker__calendar .cell.highlighted {
    background: #cae5ed
}

.vdp-datepicker__calendar .cell.grey {
    color: #888
}

.vdp-datepicker__calendar .cell.grey:hover {
    background: inherit
}

.vdp-datepicker__calendar .cell.day-header {
    font-size: 75%;
    white-space: no-wrap;
    cursor: inherit
}

.vdp-datepicker__calendar .cell.day-header:hover {
    background: inherit
}

.vdp-datepicker__calendar .month,
.vdp-datepicker__calendar .year {
    width: 33.333%
}

.vdp-datepicker__calendar-button,
.vdp-datepicker__clear-button {
    cursor: pointer;
    font-style: normal
}
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */

{
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
}
